.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 22px -8px rgba(0,0,0,0.64);
    -webkit-box-shadow: 10px 10px 22px -8px rgba(0,0,0,0.64);
    -moz-box-shadow: 10px 10px 22px -8px rgba(0,0,0,0.64);
}

.row {
    display: flex;
    flex: 33%;
}

.square {
    color: white;
    width: 8rem;
    height: 8rem;
    font-size: 5rem;
    text-align: center;
    background-color: rgb(39, 92, 72);
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transition: background-color 0.15s;
}

.square:hover {
    background-color: rgb(117, 115, 115);
    
}

.square:nth-child(3n){
    border-right: 0px;
}

.square:last-child(){
    border-bottom: 0px;
}